<div class="base">
    <div class="info"><b class="num">Офлайн-заявка:+7XXXXXXXXXX </b><b class="city">Ваш город: <span id="user-city"></span></b></div>
    <div class="header" routerLink="/"><h2>Internet-Helper</h2></div>
    <div class="tut" routerLink="tutor"><h2>Туториалы</h2></div>
    <div class="news" routerLink="news"><h2>Новости о сбоях</h2></div>
    <app-form class="button"></app-form>
    <p class="graph"><app-progress-bar ></app-progress-bar></p>
    <router-outlet class="routlet"></router-outlet>
</div>
